<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Grades</title>
</head>
<body>
    <h1> Select a Student and Course to Update Grades </h1>
    <form action="/addgrades" method="post">
        <label>Student</label>
    <select name="student_id">
        <% students.forEach(student => { %>
            <option value="<%= student.id %>"> <%= student.firstname %> <%= student.lastname %>  </option>
        <% }) %>
    </select>
    <br><hr>
    <label>Courses</label>
    <select name="course_id">
        <% courses.forEach(course => { %>
            <option value="<%= course.id %>" > <%= course.coursename %> </option>
        <% }) %>
    </select>
    <br><hr>
    <label>Grade</label>
    <input name="grade"> Grade Value</input>
    <br>
    <button type="submit">Submit</button><br>
    </form>
    
</body>
</html>