<!-- Edit User Page - Chris Ferguson - Node Assignment -->

<%- include('includes/header.ejs') %>

<div class="main">
    <h1>Edit the Following User</h1>
<form action="/agentedit/<%= user.id %>" method="post">
    <label for="">First Name</label>
   <input type="text" name="firstname" value="<%= user.firstname %>"><br>

   <label for="">Last Name</label>
   <input type="text" name="lastname" value="<%= user.lastname %>"><br>

   <label for="">Email</label>
   <input type="text" name="email" value="<%= user.email %>"><br>

   <label for="">City</label>
   <input type="text" name="city" value="<%= user.city %>"><br>

   <label for="">Postal</label>
   <input type="text" name="postal" value="<%= user.postal %>"><br>
   
   <label for="">Message</label>
   <input type="text" name="message" value="<%= user.message %>"><br>



    <button  type="submit">Update user</button>
</form>
</div>

<%- include('includes/footer.ejs') %>