<!-- Thank you page using redirect - Chris Ferguson - Node Assignment -->

    <%- include('includes/header.ejs') %>

    <div class = "main">
    <p>Thank you! </p>
    <br>
    <p><%= firstname %> <%= lastname %>. We will contact you via <%= email %></p>
    </div>

    <%- include('includes/footer.ejs') %>
