<!-- Thank you page using redirect - Chris Ferguson - Node Assignment -->

    <%- include('includes/header.ejs') %>

    <div class = "main">
    <h1>Thank you! </h1>
    <br>
    <p><%= firstname %> <%= lastname %>, We will contact you via <%= email %>! </p>
    </div>

    <%- include('includes/footer.ejs') %>
